body{
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

.error-no-camera{
	width: 50%;
	text-align: center;
	font-size: 3.2m;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width :100%;
    min-height: 100%;
    width :auto;
    height :auto;
    z-index :-100;
    transform :translateX(-50%) translateY(-50%);
    pointer-events :none;
}

.canvas{
    display: none;
}